USE [master]
GO
/****** Object:  Database [QL_NhaThuoc]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE DATABASE [QL_NhaThuoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NhaThuoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QL_NhaThuoc.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_NhaThuoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QL_NhaThuoc_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NhaThuoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NhaThuoc]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietKhuyenMai]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietKhuyenMai](
	[MaChiTietKM] [int] IDENTITY(1,1) NOT NULL,
	[MaKM] [int] NOT NULL,
	[maSP] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietKhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaChiTietKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuDeXuat]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuDeXuat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDeXuat] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuongDeXuat] [int] NOT NULL,
	[SoLuongDuyet] [int] NOT NULL,
	[GiaDuKien] [decimal](18, 2) NOT NULL,
	[ThanhTienDuKien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietPhieuDeXuat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [int] NOT NULL,
	[maSP] [int] NOT NULL,
	[SoLo] [nvarchar](max) NULL,
	[HanSD] [datetime] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietToaThuoc]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietToaThuoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaToa] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietToaThuoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[maLoai] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](max) NOT NULL,
	[MaLoaiDanhMuc] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DanhMuc] PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[MaDC] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[Tinh] [nvarchar](max) NULL,
	[Huyen] [nvarchar](max) NULL,
	[Xa] [nvarchar](max) NULL,
	[Duong] [nvarchar](max) NULL,
	[MacDinh] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.DiaChi] PRIMARY KEY CLUSTERED 
(
	[MaDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaBan]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaBan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaThuoc] [int] NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[NgayApDung] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.GiaBan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[NgayDat] [datetime] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[AnhChuyenKhoang] [nvarchar](max) NULL,
	[TrangThaiThanhToan] [nvarchar](max) NULL,
	[NgayDuyet] [datetime] NULL,
	[NgayNhanHang] [datetime] NULL,
	[NguoiDuyet] [nvarchar](max) NULL,
	[DiaChiNhanHang] [nvarchar](255) NULL,
	[PayOSOrderCode] [nvarchar](max) NULL,
	[HinhThucNhanHang] [nvarchar](max) NULL,
	[DiemDaDung] [int] NULL,
 CONSTRAINT [PK_dbo.HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[DiemTichLuy] [int] NOT NULL,
	[CapDothanhVien] [nvarchar](max) NULL,
	[AccountId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[PhanTramKM] [decimal](18, 2) NOT NULL,
	[TienGiam] [decimal](18, 2) NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDoiThuong]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDoiThuong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaQua] [int] NULL,
	[MaKH] [int] NULL,
	[NgayDoi] [datetime] NULL,
	[SoDiemDoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDanhMuc]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDanhMuc](
	[MaLoaiDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiDanhMuc] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoaiDanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNCC] [int] IDENTITY(1,1) NOT NULL,
	[tenNCC] [nvarchar](max) NOT NULL,
	[diaChi] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[QuocGia] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[CCCD] [nvarchar](max) NULL,
	[MaChucVu] [int] NOT NULL,
	[AccountId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDeXuat]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDeXuat](
	[MaPhieuDeXuat] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[NguoiLap] [nvarchar](max) NULL,
	[maNCC] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](max) NULL,
	[NgayDuyet] [datetime] NULL,
	[NguoiDuyet] [nvarchar](max) NULL,
	[TongTienDuKien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.PhieuDeXuat] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDeXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuGiamGia]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGiamGia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhieu] [nvarchar](max) NULL,
	[GiaTriGiam] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PhieuGiamGia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[NgayDuyet] [datetime] NULL,
	[NgayNhapHang] [datetime] NOT NULL,
	[MaNV_Lap] [int] NOT NULL,
	[NguoiLap] [nvarchar](max) NULL,
	[NguoiDuyet] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaPhieuDeXuat] [int] NULL,
 CONSTRAINT [PK_dbo.PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyPhieuGiamGia]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyPhieuGiamGia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuGiamGia] [int] NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaHD] [int] NOT NULL,
	[NgayNhan] [datetime] NOT NULL,
	[NgayHetHan] [datetime] NOT NULL,
	[TrangThai] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.QuanLyPhieuGiamGia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaThuong]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaThuong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenQua] [nvarchar](max) NULL,
	[DiemYeuCau] [int] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[SoLuong] [int] NOT NULL,
	[MaPhieuGiamGia] [int] NULL,
	[Coupon_Id] [int] NULL,
 CONSTRAINT [PK_dbo.QuaThuong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSP] [int] IDENTITY(1,1) NOT NULL,
	[tenSP] [nvarchar](max) NOT NULL,
	[anh] [nvarchar](max) NULL,
	[CachSD] [nvarchar](max) NOT NULL,
	[donVi] [nvarchar](max) NOT NULL,
	[congDung] [nvarchar](max) NOT NULL,
	[thanhPhan] [nvarchar](max) NOT NULL,
	[maLoai] [int] NOT NULL,
	[maNCC] [int] NOT NULL,
	[TrangThai] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SanPham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[XacNhanEmail] [bit] NOT NULL,
	[MatKhau] [nvarchar](max) NULL,
	[ChuoiBaoMat] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[XacNhanSoDienThoai] [bit] NOT NULL,
	[XacThuc2Lop] [bit] NOT NULL,
	[ThoiGianKetThucKhoaTaiKhoan] [datetime] NULL,
	[KhoaTuDong] [bit] NOT NULL,
	[SoLanDangNhapSai] [int] NOT NULL,
	[TenDangNhap] [nvarchar](256) NOT NULL,
	[TenNguoiDung] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan_Claims]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan_Claims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TaiKhoan_Claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan_Logins]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan_Logins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.TaiKhoan_Logins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToaThuoc]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToaThuoc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaHD] [int] NOT NULL,
	[Path] [nvarchar](max) NULL,
	[PathStyle] [nvarchar](max) NULL,
	[DoctorName] [nvarchar](max) NULL,
	[diagnosis] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ToaThuoc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaThuoc] [int] NOT NULL,
	[SoLo] [nvarchar](max) NULL,
	[HanSD] [datetime] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.TonKho] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 03/12/2025 10:54:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [nvarchar](128) NOT NULL,
	[TenVaiTro] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.VaiTro] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaHD]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaHD] ON [dbo].[ChiTietHoaDon]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaSP]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaSP] ON [dbo].[ChiTietHoaDon]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaKM]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaKM] ON [dbo].[ChiTietKhuyenMai]
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_maSP]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_maSP] ON [dbo].[ChiTietKhuyenMai]
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaPhieuDeXuat]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaPhieuDeXuat] ON [dbo].[ChiTietPhieuDeXuat]
(
	[MaPhieuDeXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaSP]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaSP] ON [dbo].[ChiTietPhieuDeXuat]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaPhieuNhap]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaPhieuNhap] ON [dbo].[ChiTietPhieuNhap]
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_maSP]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_maSP] ON [dbo].[ChiTietPhieuNhap]
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaSP]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaSP] ON [dbo].[ChiTietToaThuoc]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaToa]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaToa] ON [dbo].[ChiTietToaThuoc]
(
	[MaToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaLoaiDanhMuc]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaLoaiDanhMuc] ON [dbo].[DanhMuc]
(
	[MaLoaiDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaKH]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaKH] ON [dbo].[DiaChi]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaThuoc]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaThuoc] ON [dbo].[GiaBan]
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaKH]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaKH] ON [dbo].[HoaDon]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaNV]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaNV] ON [dbo].[HoaDon]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AccountId]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[KhachHang]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AccountId]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_AccountId] ON [dbo].[NhanVien]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaChucVu]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaChucVu] ON [dbo].[NhanVien]
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[PhanQuyen]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[PhanQuyen]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_maNCC]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_maNCC] ON [dbo].[PhieuDeXuat]
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaNV_Lap]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaNV_Lap] ON [dbo].[PhieuNhap]
(
	[MaNV_Lap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaPhieuDeXuat]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaPhieuDeXuat] ON [dbo].[PhieuNhap]
(
	[MaPhieuDeXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaHD]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaHD] ON [dbo].[QuanLyPhieuGiamGia]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaKhachHang]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaKhachHang] ON [dbo].[QuanLyPhieuGiamGia]
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaPhieuGiamGia]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaPhieuGiamGia] ON [dbo].[QuanLyPhieuGiamGia]
(
	[MaPhieuGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Coupon_Id]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_Coupon_Id] ON [dbo].[QuaThuong]
(
	[Coupon_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_maLoai]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_maLoai] ON [dbo].[SanPham]
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_maNCC]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_maNCC] ON [dbo].[SanPham]
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[TaiKhoan]
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[TaiKhoan_Claims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[TaiKhoan_Logins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaHD]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaHD] ON [dbo].[ToaThuoc]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaKH]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaKH] ON [dbo].[ToaThuoc]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaThuoc]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE NONCLUSTERED INDEX [IX_MaThuoc] ON [dbo].[TonKho]
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 03/12/2025 10:54:59 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[VaiTro]
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.HoaDon_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.HoaDon_MaHD]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([maSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.SanPham_MaSP]
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietKhuyenMai_dbo.KhuyenMai_MaKM] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai] CHECK CONSTRAINT [FK_dbo.ChiTietKhuyenMai_dbo.KhuyenMai_MaKM]
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietKhuyenMai_dbo.SanPham_maSP] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai] CHECK CONSTRAINT [FK_dbo.ChiTietKhuyenMai_dbo.SanPham_maSP]
GO
ALTER TABLE [dbo].[ChiTietPhieuDeXuat]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietPhieuDeXuat_dbo.PhieuDeXuat_MaPhieuDeXuat] FOREIGN KEY([MaPhieuDeXuat])
REFERENCES [dbo].[PhieuDeXuat] ([MaPhieuDeXuat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuDeXuat] CHECK CONSTRAINT [FK_dbo.ChiTietPhieuDeXuat_dbo.PhieuDeXuat_MaPhieuDeXuat]
GO
ALTER TABLE [dbo].[ChiTietPhieuDeXuat]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietPhieuDeXuat_dbo.SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([maSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuDeXuat] CHECK CONSTRAINT [FK_dbo.ChiTietPhieuDeXuat_dbo.SanPham_MaSP]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietPhieuNhap_dbo.PhieuNhap_MaPhieuNhap] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_dbo.ChiTietPhieuNhap_dbo.PhieuNhap_MaPhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietPhieuNhap_dbo.SanPham_maSP] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_dbo.ChiTietPhieuNhap_dbo.SanPham_maSP]
GO
ALTER TABLE [dbo].[ChiTietToaThuoc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietToaThuoc_dbo.SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([maSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietToaThuoc] CHECK CONSTRAINT [FK_dbo.ChiTietToaThuoc_dbo.SanPham_MaSP]
GO
ALTER TABLE [dbo].[ChiTietToaThuoc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietToaThuoc_dbo.ToaThuoc_MaToa] FOREIGN KEY([MaToa])
REFERENCES [dbo].[ToaThuoc] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietToaThuoc] CHECK CONSTRAINT [FK_dbo.ChiTietToaThuoc_dbo.ToaThuoc_MaToa]
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DanhMuc_dbo.LoaiDanhMuc_MaLoaiDanhMuc] FOREIGN KEY([MaLoaiDanhMuc])
REFERENCES [dbo].[LoaiDanhMuc] ([MaLoaiDanhMuc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhMuc] CHECK CONSTRAINT [FK_dbo.DanhMuc_dbo.LoaiDanhMuc_MaLoaiDanhMuc]
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiaChi_dbo.KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiaChi] CHECK CONSTRAINT [FK_dbo.DiaChi_dbo.KhachHang_MaKH]
GO
ALTER TABLE [dbo].[GiaBan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GiaBan_dbo.SanPham_MaThuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[SanPham] ([maSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaBan] CHECK CONSTRAINT [FK_dbo.GiaBan_dbo.SanPham_MaThuoc]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDon_dbo.KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_dbo.HoaDon_dbo.KhachHang_MaKH]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDon_dbo.NhanVien_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_dbo.HoaDon_dbo.NhanVien_MaNV]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KhachHang_dbo.AspNetUsers_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_dbo.KhachHang_dbo.AspNetUsers_AccountId]
GO
ALTER TABLE [dbo].[LichSuDoiThuong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDoiThuong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[LichSuDoiThuong] CHECK CONSTRAINT [FK_LichSuDoiThuong_KhachHang]
GO
ALTER TABLE [dbo].[LichSuDoiThuong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDoiThuong_QuaThuong] FOREIGN KEY([MaQua])
REFERENCES [dbo].[QuaThuong] ([Id])
GO
ALTER TABLE [dbo].[LichSuDoiThuong] CHECK CONSTRAINT [FK_LichSuDoiThuong_QuaThuong]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhanVien_dbo.AspNetUsers_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_dbo.NhanVien_dbo.AspNetUsers_AccountId]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhanVien_dbo.ChucVu_MaChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_dbo.NhanVien_dbo.ChucVu_MaChucVu]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PhieuDeXuat]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuDeXuat_dbo.NhaCungCap_maNCC] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[PhieuDeXuat] CHECK CONSTRAINT [FK_dbo.PhieuDeXuat_dbo.NhaCungCap_maNCC]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuNhap_dbo.NhanVien_MaNV_Lap] FOREIGN KEY([MaNV_Lap])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_dbo.PhieuNhap_dbo.NhanVien_MaNV_Lap]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuNhap_dbo.PhieuDeXuat_MaPhieuDeXuat] FOREIGN KEY([MaPhieuDeXuat])
REFERENCES [dbo].[PhieuDeXuat] ([MaPhieuDeXuat])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_dbo.PhieuNhap_dbo.PhieuDeXuat_MaPhieuDeXuat]
GO
ALTER TABLE [dbo].[QuanLyPhieuGiamGia]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuanLyPhieuGiamGia_dbo.HoaDon_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuanLyPhieuGiamGia] CHECK CONSTRAINT [FK_dbo.QuanLyPhieuGiamGia_dbo.HoaDon_MaHD]
GO
ALTER TABLE [dbo].[QuanLyPhieuGiamGia]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuanLyPhieuGiamGia_dbo.KhachHang_MaKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[QuanLyPhieuGiamGia] CHECK CONSTRAINT [FK_dbo.QuanLyPhieuGiamGia_dbo.KhachHang_MaKhachHang]
GO
ALTER TABLE [dbo].[QuanLyPhieuGiamGia]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuanLyPhieuGiamGia_dbo.PhieuGiamGia_MaPhieuGiamGia] FOREIGN KEY([MaPhieuGiamGia])
REFERENCES [dbo].[PhieuGiamGia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuanLyPhieuGiamGia] CHECK CONSTRAINT [FK_dbo.QuanLyPhieuGiamGia_dbo.PhieuGiamGia_MaPhieuGiamGia]
GO
ALTER TABLE [dbo].[QuaThuong]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuaThuong_dbo.PhieuGiamGia_Coupon_Id] FOREIGN KEY([Coupon_Id])
REFERENCES [dbo].[PhieuGiamGia] ([Id])
GO
ALTER TABLE [dbo].[QuaThuong] CHECK CONSTRAINT [FK_dbo.QuaThuong_dbo.PhieuGiamGia_Coupon_Id]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPham_dbo.DanhMuc_maLoai] FOREIGN KEY([maLoai])
REFERENCES [dbo].[DanhMuc] ([maLoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_dbo.SanPham_dbo.DanhMuc_maLoai]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPham_dbo.NhaCungCap_maNCC] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_dbo.SanPham_dbo.NhaCungCap_maNCC]
GO
ALTER TABLE [dbo].[TaiKhoan_Claims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan_Claims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TaiKhoan_Logins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan_Logins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ToaThuoc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ToaThuoc_dbo.HoaDon_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ToaThuoc] CHECK CONSTRAINT [FK_dbo.ToaThuoc_dbo.HoaDon_MaHD]
GO
ALTER TABLE [dbo].[ToaThuoc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ToaThuoc_dbo.KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ToaThuoc] CHECK CONSTRAINT [FK_dbo.ToaThuoc_dbo.KhachHang_MaKH]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TonKho_dbo.SanPham_MaThuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[SanPham] ([maSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_dbo.TonKho_dbo.SanPham_MaThuoc]
GO
USE [master]
GO
